body { 
    background-color: #F2F6D0; 
}

.jumbotron {
    background-color: #F2F6D0;
    height: 2rem;
}

.accordion{
    height: 50rem;
    overflow-y: scroll;
}

.headingCSS{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.noteCSS{
    width: 90%;
    margin-bottom: 10%;
    position: relative;
}

.titleCSS{
    font-weight: bold;
}

.scraped,
.add-notes {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    color: #007bff;     
}

.buttonCSS {
    display: flex;
    align-items: center;
    justify-content: center;
  }